<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LAUNCH | Guodong Zhao</title>
    <!--Bulma-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <!-- Vue development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <!--Buefy-->
    <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
    <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
    <!--Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    <!--AOS-->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <style>
        .raleway {
            font-family: 'Raleway';
        }

        .poppins {
            font-family: 'poppins'
        }

        html {
            scroll-behavior: smooth;
        }

        hr {
            display: block;
            height: 1px;
            border: 0;
            border-top: 1px solid #ccc;
            margin: 1em 0;
            padding: 0;
        }

        .is-vertical-center {
            display: flex;
            align-items: center;
        }

        .prpl {
            color: #5e34a0;
        }

        p {
            font-size: 1.25rem;
        }

        .has-highlight {
            background-color: #e9ebf7;
        }
    </style>
</head>

<body class="has-navbar-fixed-top">
    <div id="app">
        <!--Nav bar-->
        <nav class="navbar has-shadow is-fixed-top" role="navigation" aria-label="main navigation" id="navBar">
            <div class="navbar-brand">
                <div class="navbar-item">
                    <h1 class="title is-4" style="font-family: Poppins; text-decoration: underline">
                        Guodong Zhao
                    </h1>
                </div>

                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                    data-target="navbarMenu" id="navbarBurger" v-on:click="toggleBurger"
                    v-bind:class="{'is-active': isBurgerActive}">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarMenu" class="navbar-menu" v-bind:class="{'is-active': isBurgerActive}">
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-white" href="index.html#top">
                                Home
                            </a>
                            <a class="button is-white">
                                Work Projects
                            </a>
                            <a class="button is-white">
                                Other Projects
                            </a>
                            <a class="button is-white"
                                href="https://drive.google.com/file/d/15ET_riOxf6NwooUtp8o8BnQzCD6K7qVb/view?usp=sharing"
                                target="_blank">
                                Resume
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <!--Project Entry-->
        <div class="hero is-medium">
            <div class="hero-body">
                <div class="container">
                    <h2 class="title is-3 raleway prpl">
                        LAUNCH
                    </h2>
                    <p class="subtitle is-5 raleway">
                        An Interactive Learning Workspace for documentation and project management in Project-Based
                        Learning Classes.
                    </p>
                    <figure class="image is-11by5">
                        <img src="LAUNCH\Project Images, with Background_ 1760 x 800.png" alt="LAUNCH Project Image">
                    </figure>
                </div>
            </div>
        </div>

        <!--Overview-->
        <div class="hero is-small has-background-light" id="overview">
            <div class="hero-body">
                <div class="columns">
                    <div class="column is-8 is-offset-2">
                        <h3 class="title is-3 raleway prpl has-text-weight-bold has-text-centered">
                            Overview
                        </h3>
                        <div class="columns">
                            <div class="column is-half">
                                <p class="content">
                                    <b>Time</b><br />
                                    September 2019 - December 2019<br />
                                    <b>Client</b><br />
                                    A local high school<br />
                                    <b>My Role</b><br />
                                    Research, Ideation, Product Design, Video Prototype<br />
                                    <b>Keywords</b><br />
                                    Learning Experience Design, PBL, Documentation<br />
                                    <b>Teammates</b><br />
                                    Chelsea Hua, Estelle Jiang, Hannah Xue<br />
                                </p>
                            </div>
                            <div class="column is-half">
                                <p>
                                    <b>My Contribution</b>
                                </p>
                                <p class="content">
                                    For the research part, I was responsible for creating protocols, conducting
                                    interviews, synthesizing insights, and creating models.
                                </p>
                                <p class="content">
                                    For designing and prototyping, I was responsible for designing the experience and
                                    main features of the system and directing and creating the video prototype for
                                    testing with users.
                                </p>
                                <a href="https://medium.com/learning-media-design"
                                    class="button is-rounded is-outlined is-primary" target="_blank">
                                    Our Medium
                                </a>
                            </div>
                        </div>
                        <h4 class="title is-4 raleway prpl has-text-weight-bold">
                            <u>Problem</u>
                        </h4>
                        <p class="content">
                            One of the biggest problems for project-based learning (PBL) is that <b>it’s difficult for
                                students to document their work artifacts and their work process</b> during the course
                            of the projects.
                        </p>
                        <p class="content is-size-4 has-highlight">
                            How might we create a non-distracting and easy-to-use tool for students to better manage
                            their projects and document their work for reference, reflection, and showcase?
                        </p>
                        <p class="content is-size-6">
                            <b>Client Background: </b>We are working with Mr. M, the instructor of a PBL course at a
                            local high
                            school. His course is a maker space course teaching 3D modeling with self-defined group
                            projects.
                        </p>
                        <h4 class="title is-4 raleway prpl has-text-weight-bold">
                            <u>Solution</u>
                        </h4>
                        <p class="content">
                            We designed the LAUNCH. It’s an <b>integrated workspace</b> with interactive
                            whiteboards/tables and
                            <b>an online collaboration platform.</b>
                        </p>
                        <div class="content is-size-5">
                            <p>It can:</p>
                            <ul>
                                <li>Save students’ creative work like sketches and notes</li>
                                <li>Provide enriched information to help them create prototypes</li>
                                <li>Document students’ work process with pictures, audio, and video</li>
                                <li>Organize their work artifacts and share them with the instructor for assessment and
                                    feedback</li>
                            </ul>
                        </div>
                        <a href="#finalDesign" class="button is-rounded is-outlined is-primary">
                            Jump to Solution Details
                        </a>
                        <figure class="image my-5">
                            <img src="LAUNCH\Final Design.png" alt="Final Design">
                        </figure>
                        <h4 class="title is-4 raleway prpl has-text-weight-bold">
                            <u>Concept Video</u>
                        </h4>
                        <figure class="image is-16by9 my-5">
                            <iframe src="https://www.youtube.com/embed/FcUZnygFyQc" class="has-ratio" width="640"
                                height="360" allowfullscreen frameborder="0"></iframe>
                        </figure>
                    </div>
                </div>
            </div>
        </div>

        <!--Design Process-->
        <div class="hero is-small" id="designProcess">
            <div class="hero-body">
                <div class="columns">
                    <div class="column is-8 is-offset-2">
                        <h3 class="title is-3 raleway prpl has-text-weight-bold has-text-centered">
                            Design Process
                        </h3>
                        <figure class="image">
                            <img src="LAUNCH\Design Process.png" alt="Design Process">
                        </figure>
                        <h4 class="title is-4 raleway prpl has-text-weight-bold">
                            <u>Research Phase</u>
                        </h4>
                        <h5 class="title is-5 raleway">
                            <span class='prpl'>&#9632</span> Literature Review
                        </h5>
                        <p class="content">
                            Before we dive into the process of on-site explorations, we conducted
                            <span class='prpl has-text-weight-semibold'>literature reviews</span> of project-based
                            learning,
                            makerspaces,
                            and the role of documentation and portfolios.
                        </p>
                        <p class="content">
                            We specifically looked at the examples of PBLWorks, Maker Movement, and Open Portfolios
                            project
                            to understand current pratices and learning goals in PBL.
                        </p>
                        <p class="content">
                            From the literature review, we found the following elements to be important for PBL courses:
                        </p>
                        <figure class="image my-5">
                            <img src="LAUNCH\literature review insights.png" alt="Literature review insights">
                        </figure>
                        <h5 class="title is-5 raleway">
                            <span class='prpl'>&#9632</span> Understanding Educators
                        </h5>
                        <p class="content">
                            To understand the current challenges that are specific to our client, we first conducted
                            <a href="https://medium.com/learning-media-design/user-study-2-understanding-educators-interviews-profile-boards-1c01239d541f"
                                target="_blank"><span class="prpl has-text-weight-semibold">semi-structured
                                    interviews</span> with two
                                educators</a> - the instructor of the PBL course and the school director.
                        </p>
                        <p class="content">
                            <b>Interview with Mr.M</b> - Class Instructor
                        </p>
                        <div class="columns">
                            <div class="column">
                                <figure class="image">
                                    <img src="LAUNCH\Interview1.png" alt="Interview with Mr.M">
                                </figure>
                            </div>
                            <div class="column">
                                <figure class="image">
                                    <img src="LAUNCH\Mr.M.png" alt="Mr.M Profile Board">
                                </figure>
                            </div>
                        </div>
                        <p class="content">
                            <b>Interview with Dr.F</b> - School Director
                        </p>
                        <div class="columns">
                            <div class="column">
                                <figure class="image">
                                    <img src="LAUNCH\Interview2.png" alt="Interview with Dr.F">
                                </figure>
                            </div>
                            <div class="column">
                                <figure class="image">
                                    <img src="LAUNCH\Dr.F.png" alt="Dr.F Profile Board">
                                </figure>
                            </div>
                        </div>
                        <p class="content">
                            <b>Synthesis and Analysis</b>
                        </p>
                        <p class="content">
                            To better understand the relationships among the challenges of these stakeholders and their
                            concerns, we used <span>diagnostic maps</span> to analyze the causes, consequences, and
                            possible
                            solutions of
                            the problems, including <b>
                                <u v-on:click="diagnosticMap = 'Documentation'"
                                    style="cursor: pointer">documentation</u>,
                                <u v-on:click="diagnosticMap = 'Assessment'" style="cursor: pointer">assessment</u>,
                                <u v-on:click="diagnosticMap = 'Feedback'" style="cursor: pointer">feedback</u>, and
                                <u v-on:click="diagnosticMap = 'Showcase'" style="cursor: pointer">showcase</u></b>.
                        </p>
                        <div class="columns">
                            <div class="column is-8 is-offset-2">
                                <figure class="image">
                                    <img v-bind:src="diagnosticMapSource" alt="Diagnostic Map">
                                </figure>
                            </div>
                        </div>
                        <p class="content">
                            From the diagnostic maps, we identified that <span class='has-highlight'>poor documentation
                                is actually the root
                                problem for other problems in assessments, feedback, and showcase.</span>
                        </p>
                        <p class="content prpl is-size-6" v-on:click="toggleDiagnosticDetails">
                            <u>{{ diagnosticButton }}</u>
                        </p>
                        <p class="content" v-if="diagnosticButton == 'Show Less'">
                            Without good documentation of both the work artifacts and the work process, it will be hard
                            for students to showcase their design process and iterations to the instructor and to the
                            community. Thus, it was hard for the instructor to track and assess their improvements and
                            for the community to recognize the achievements of the students.
                        </p>
                        <h5 class="title is-5 raleway">
                            <span class='prpl'>&#9632</span> Understanding Students in Context
                        </h5>
                        <p class="content">
                            As we pinpointed documentation as the main and root problem in the class, we proceeded to
                            investigate the students’ current practices of documentation in their projects through
                            <span class='prpl has-text-weight-semibold'>on-site observations</span> and understand their
                            opinions on
                            documentation through <span class='prpl has-text-weight-semibold'>online surveys</span>.
                        </p>
                        <div class="columns is-vcentered">
                            <div class="column is-one-third is-offset-1">
                                <b-carousel>
                                    <b-carousel-item v-for="(carousel, i) in observations" :key="i">
                                        <figure class="image is-square">
                                            <img v-bind:src="carousel.link" v-bind:alt="carousel.text">
                                        </figure>
                                    </b-carousel-item>
                                </b-carousel>
                            </div>
                            <div class="column is-one-third is-offset-1">
                                <b-carousel>
                                    <b-carousel-item v-for="(carousel, i) in surveys" :key="i">
                                        <figure class="image is-16by9">
                                            <img v-bind:src="carousel.link" v-bind:alt="carousel.text">
                                        </figure>
                                    </b-carousel-item>
                                </b-carousel>
                            </div>
                        </div>
                        <p class="content">
                            <b>Synthesis and Analysis</b>
                        </p>
                        <p class="content">
                            We used an <span class='prpl has-text-weight-semibold'>affinity diagram</span> to summarize
                            the findings that we collected from both the
                            observation and the online survey.
                        </p>
                        <div class="columns">
                            <div class="column is-6 is-offset-3">
                                <figure class="image">
                                    <img src="LAUNCH\Affinity Diagram.png" alt="Affinity Diagram">
                                </figure>
                            </div>
                        </div>
                        <div class="content">
                            <p>We found that</p>
                            <ul style="font-size: 1.25rem">
                                <li>
                                    Students <span class="has-highlight">only document their ideas</span> but not their
                                    work process.
                                </li>
                                <li>
                                    They <span class="has-highlight">lack permanent, organized documentation</span> for
                                    project management and
                                    for future
                                    reference and reflections.
                                </li>
                                <li>
                                    They <span class="has-highlight">need motivation</span> for documentation and they
                                    need to <span class="has-highlight">learn
                                        better documentation approaches</span>.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <footer class="footer">
        <div class="content has-text-centered">
            <p class='raleway'>Interested in working with me? <br />Contact me at: <a
                    href="mailto:gzhao@andrew.cmu.edu">gzhao@andrew.cmu.edu</a></p>
            <p class="raleway">Made with <i class="fas fa-coffee"></i> and <i class="fas fa-heart"></i></p>
            <p class="raleway">&copy; 2020 Guodong Zhao</p>
        </div>
    </footer>

    <!--AOS-->
    <script src="https://unpkg.com/aos@3.0.0-beta.6/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>

    <!--Scroll to View-->
    <script>
        function scrollToView(viewId) {
            var elmnt = document.getElementById(viewId);
            elmnt.scrollIntoView({ block: "start", inline: "nearest", behavior: "smooth" });
        }
    </script>

    <script>
        var app = new Vue({
            el: "#app",
            data: {
                isBurgerActive: false,
                diagnosticMap: "Documentation",
                diagnosticButton: "Show More",
                surveys: [
                    { link: 'LAUNCH/Survey.png', text: 'Survey' },
                    { link: 'LAUNCH/Survey Response.png', text: 'Survey Response' }
                ],
                observations: [
                    { link: 'LAUNCH/Observation 1.png', text: 'Observation: Notebook' },
                    { link: 'LAUNCH/Observation 2.png', text: 'Observation: Prototype' },
                    { link: 'LAUNCH/Observation 3.png', text: 'Observation: Whiteboard' }
                ]
            },
            computed: {
                diagnosticMapSource: function () {
                    switch (this.diagnosticMap) {
                        case "Documentation":
                            return "LAUNCH/Diagnostic Map 1.png"
                            break;
                        case "Assessment":
                            return "LAUNCH/Diagnostic Map 2.png"
                            break;
                        case "Feedback":
                            return "LAUNCH/Diagnostic Map 3.png"
                            break;
                        case "Showcase":
                            return "LAUNCH/Diagnostic Map 4.png"
                            break;
                        default:
                            return "LAUNCH/Diagnostic Map 1.png"
                    }
                }
            },
            methods: {
                toggleBurger: function () {
                    this.isBurgerActive = !this.isBurgerActive;
                },
                toggleDiagnosticDetails: function () {
                    if (this.diagnosticButton == "Show More") {
                        this.diagnosticButton = "Show Less"
                    } else {
                        this.diagnosticButton = "Show More"
                    }
                }
            }
        })
    </script>
</body>

</html>