<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PineCones | Guodong Zhao's Portfolio</title>
    <link rel="icon" href="images\Icon.png">
    <!--Bulma-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <!-- Vue development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <!--Buefy-->
    <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
    <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
    <!--Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    <!--AOS-->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="PineCones\PineCones.css">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-HH0RFQKBHF"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-HH0RFQKBHF');
    </script>
</head>

<body class="has-navbar-fixed-top">
    <div id="app">
        <!--Nav bar-->
        <nav class="navbar has-shadow is-fixed-top" role="navigation" aria-label="main navigation" id="navBar">
            <div class="navbar-brand">
                <div class="navbar-item">
                    <h1 class="title is-4" style="font-family: Poppins; text-decoration: underline">
                        Guodong Zhao
                    </h1>
                </div>

                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                    data-target="navbarMenu" id="navbarBurger" v-on:click="toggleBurger"
                    v-bind:class="{'is-active': isBurgerActive}">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarMenu" class="navbar-menu" v-bind:class="{'is-active': isBurgerActive}">
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-white" href="index.html#top">
                                Selected Projects
                            </a>
                            <!--
                            <a class="button is-white">
                                Case Studies
                            </a>
                            <a class="button is-white">
                                Work Samples
                            </a>
                            -->
                            <a class="button is-white" href="OtherProjects.html#top">
                                Other Projects
                            </a>
                            <a class="button is-white"
                                href="https://drive.google.com/file/d/15ET_riOxf6NwooUtp8o8BnQzCD6K7qVb/view?usp=sharing"
                                target="_blank">
                                Resume
                            </a>
                            <a class="button is-white" href="mailto:gzhao1997@gmail.com" target="_blank">
                                Contact Me
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <!--Project Entry-->
        <div class="hero is-medium">
            <div class="hero-body">
                <div class="container">
                    <h2 class="title is-3 raleway blu">
                        PineCones
                    </h2>
                    <p class="subtitle is-5 raleway">
                        An online starred problemset for saving and reviewing mistaken problems.
                    </p>
                    <figure class="image is-11by5">
                        <img src="PineCones\PineCones Project Images, with Background_ 1760 x 800.png"
                            alt="PineCones Project Image">
                    </figure>
                </div>
            </div>
        </div>

        <!--Overview-->
        <div class="hero is-small" id="overview">
            <div class="hero-body">
                <div class="columns">
                    <div class="column is-8 is-offset-2">
                        <h3 class="title is-3 raleway blu has-text-weight-bold has-text-centered my-6">
                            Overview
                        </h3>
                        <div class="columns my-6">
                            <div class="column is-half">
                                <p class="content">
                                    <b class="blu">Time</b><br />
                                    Jan 2020 - Aug 2020<br />
                                    <b class="blu">Client</b><br />
                                    Squirrel AI by Yixue Group<br />
                                    <b class="blu">My Role</b><br />
                                    Product Management, Research Lead<br />
                                    <b class="blu">Keywords</b><br />
                                    EdTech Tool Design, Online Learning, Product Management<br />
                                    <b class="blu">Teammates</b><br />
                                    Miaojun Xu (Project Lead), Yuchen Xie (Design Lead) <br />Jiachen Gong
                                    (Development
                                    Lead)<br />
                                </p>
                            </div>
                            <div class="column is-half">
                                <p>
                                    <b class="blu">My Contribution</b>
                                </p>
                                <p class="content">
                                    Led the team in identifying possible problems through qualitative user
                                    interviews
                                    and quantitative metrics analysis.
                                </p>
                                <p class="content">
                                    Collaborated with design lead for ideating possible solutions and prioritizing
                                    solution features.
                                    Evaluated and iterated design solutions based on user testing and surveys.
                                </p>
                                <p class="content">
                                    Defined solution features and user stories for handoff to our client’s dev team.
                                </p>
                            </div>
                        </div>

                        <div class="small-section my-6">
                            <h4 class="title is-4 raleway blu has-text-weight-bold my-6">
                                <u>Problem</u>
                            </h4>
                            <p class="poppins is-size-4 my-6 has-highlight">
                                How Might We help students learn from their most important mistakes by categorizing,
                                organizing, and analyzing them?
                            </p>
                            <p class="content prpl is-size-6" v-on:click="toggleProjectBackground"
                                style="cursor: pointer;">
                                <u>{{ projectBackgroundButton }}</u>
                            </p>
                            <p class="content my-6" v-if="projectBackgroundButton == 'Show Less'">
                                Our client, Squirrel AI, offers an online learning platform powered by AI in China. The
                                Squirrel AI online learning platform has a feature called Mistake Analysis System where
                                the
                                students can do Mistake Analysis Related Study (MARS) like correcting and analyzing
                                mistakes
                                and reviewing related knowledge components (KC’s). Our project aims to improve the
                                learning
                                experience of the Mistake analysis system.
                            </p>
                        </div>

                        <div class="small-section my-6">
                            <h4 class="title is-4 raleway blu has-text-weight-bold my-6">
                                <u>Target Users</u>
                            </h4>
                            <p class="content">
                                <span class='has-highlight'>Students in grades 7-12</span> who take part in the
                                after-school learning program at Squirrel
                                AI to review learning concepts and practice additional problems on the online adaptive
                                learning
                                platform.
                            </p>
                        </div>

                        <div class="small-section my-6">
                            <h4 class="title is-4 raleway blu has-text-weight-bold my-6">
                                <u>Solution</u>
                            </h4>

                            <div class="box my-6">
                                <div class="columns is-vcentered">
                                    <div class="column is-half">
                                        <figure class="image">
                                            <img src="PineCones\videoCover.png" alt="Concept Video"
                                                style="cursor: pointer;" @click="isConceptVideoActive = true">
                                        </figure>
                                    </div>
                                    <div class="column is-half">
                                        <p class="content is-size-4">
                                            A personalized collection of important mistaken problems with
                                            intelligent support for reflection and review.
                                        </p>
                                        <p class="content is-size-6">
                                            The solution we proposed is the Starred Problem Set feature to be hosted
                                            within Squirrel AI's MARS system. Students can filter the mistaken
                                            problems
                                            that
                                            are important to them and annotate them with procedural and content
                                            scaffolds
                                            for
                                            future review.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <b-modal v-model="isConceptVideoActive">
                                <figure class="image is-16by9">
                                    <iframe class="has-ratio" width="640" height="360"
                                        src="https://www.youtube.com/embed/QYyGUbYVtTQ?showinfo=0" frameborder="0"
                                        allowfullscreen></iframe>
                                </figure>
                            </b-modal>

                            <div class="small-section my-3">
                                <h5 class="title is-4 raleway my-6">
                                    <span class='blu'>&#9632</span> User Story 1: Adding Problems to the Starred Problem
                                    Set
                                </h5>
                                <p class="content is-size-4 my-6 has-blu-outline">
                                    As a learner, after each lesson, I want to categorize and annotate my most important
                                    mistaken problems, so that I can review them later.
                                </p>
                                <figure class="image my-6">
                                    <img src="PineCones\userStory1Flow.png" alt="User Story 1 Flow">
                                </figure>
                                <div class="columns is-vcentered my-6">
                                    <div class="column is-4">
                                        <p class="content">
                                            Add problems and categorize them by importance and difficulty from the MARS
                                            system
                                        </p>
                                    </div>
                                    <div class="column is-8">
                                        <figure class="image">
                                            <video autoplay loop muted>
                                                <source src="PineCones\userStory1Categorize.mp4" type="video/mp4" />
                                            </video>
                                        </figure>
                                    </div>
                                </div>
                                <div class="columns is-vcentered my-6 reverse-column-order">
                                    <div class="column is-8">
                                        <figure class="image">
                                            <video autoplay loop muted>
                                                <source src="PineCones\userStory1Text.mp4" type="video/mp4" />
                                            </video>
                                        </figure>
                                    </div>
                                    <div class="column is-4">
                                        <p class="content">
                                            Highlight important concepts in the problem, add comments with concept
                                            definitions
                                            autofilled, and ask teachers
                                        </p>
                                    </div>
                                </div>
                                <div class="columns is-vcentered my-6">
                                    <div class="column is-4">
                                        <p class="content">
                                            Reflect on problem solving strategies by annotating on images
                                        </p>
                                    </div>
                                    <div class="column is-8">
                                        <figure class="image">
                                            <video autoplay loop muted>
                                                <source src="PineCones\userStory1Image.mp4" type="video/mp4" />
                                            </video>
                                        </figure>
                                    </div>
                                </div>
                                <div class="columns is-vcentered my-6 reverse-column-order">
                                    <div class="column is-8">
                                        <figure class="image">
                                            <video autoplay loop muted>
                                                <source src="PineCones\userStory1Submit.mp4" type="video/mp4" />
                                            </video>
                                        </figure>
                                    </div>
                                    <div class="column is-4">
                                        <p class="content">
                                            Submit annotated problems for future review
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="small-section my-3">
                                <h5 class="title is-4 raleway my-6">
                                    <span class='blu'>&#9632</span> User Story 2: Reviewing Problems in the Starred
                                    Problem
                                    Set
                                </h5>
                                <p class="content is-size-4 my-6 has-blu-outline">
                                    As a learner, before exams, I want to filter out the relevant problems with my
                                    notes, so
                                    that I can review them and practice for the exam.
                                </p>
                                <figure class="image my-6">
                                    <img src="PineCones\userStory2Flow.png" alt="User Story 2 Flow">
                                </figure>
                                <div class="columns is-vcentered my-6">
                                    <div class="column is-4">
                                        <p class="content">
                                            Toggle On/Off annotations for different review purposes
                                        </p>
                                    </div>
                                    <div class="column is-8">
                                        <figure class="image">
                                            <video autoplay loop muted>
                                                <source src="PineCones\userStory2Viewmodes.mp4" type="video/mp4" />
                                            </video>
                                        </figure>
                                    </div>
                                </div>
                                <div class="columns is-vcentered my-6 reverse-column-order">
                                    <div class="column is-8">
                                        <figure class="image">
                                            <video autoplay loop muted>
                                                <source src="PineCones\userStory2Teacher.mp4" type="video/mp4" />
                                            </video>
                                        </figure>
                                    </div>
                                    <div class="column is-4">
                                        <p class="content">
                                            Interact with the teacher for feedback synchronously or asynchronously
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="small-section my-6">
                            <h4 class="title is-4 raleway blu has-text-weight-bold my-6">
                                <u>Evaluation</u>
                            </h4>
                            <div class="content is-size-5 my-6">
                                <p>
                                    To measure the success of the design, we conducted surveys with our users regarding
                                    the
                                    following aspects:
                                </p>
                                <ul>
                                    <li>
                                        Benefits towards learning
                                    </li>
                                    <li>
                                        Efficiency during the annotation process
                                    </li>
                                    <li>
                                        Communication with teachers
                                    </li>
                                    <li>
                                        Difficulty level in reviewing problems
                                    </li>
                                </ul>
                            </div>
                            <figure class="image my-6">
                                <img src="PineCones\surveyFeedback.png" alt="Survey Result">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Design Process-->
        <div class="hero is-small" id="designProcess">
            <div class="hero-body">
                <div class="columns">
                    <div class="column is-8 is-offset-2">
                        <h3 class="title is-3 raleway blu has-text-weight-bold has-text-centered my-6">
                            Design Process
                        </h3>
                        <figure class="image my-6">
                            <img src="PineCones\process.png" alt="Design Process">
                        </figure>
                        <div class="small-section my-6">
                            <h4 class="title is-4 raleway blu has-text-weight-bold my-6">
                                <u>Research Phase</u>
                            </h4>
                            <div class="small-section my-3">
                                <h5 class="title is-4 raleway my-6">
                                    <span class='blu'>&#9632</span> Preliminary Research
                                </h5>
                                <p class="content my-6">
                                    At the beginning of our project, we conducted a series of preliminary research,
                                    including
                                    product analysis, stakeholder mapping, and competitive analysis, to find the focus
                                    of our project
                                    and identify potential stakeholders for interviews.
                                </p>
                                <p class="content prpl is-size-6" v-on:click="togglePreliminary"
                                    style="cursor: pointer;">
                                    <u>{{ preliminaryButton }}</u>
                                </p>
                                <div class="my-6" v-if="preliminaryButton == 'Show Less'">
                                    <b-carousel>
                                        <b-carousel-item v-for="(carousel, i) in preliminaryResearch" :key="i">
                                            <figure class="image">
                                                <img v-bind:src="carousel.link" v-bind:alt="carousel.text">
                                            </figure>
                                        </b-carousel-item>
                                    </b-carousel>
                                </div>
                                <p class="content my-6">
                                    Based on the results of the preliminary research, we identified <span
                                        class="has-highlight">Mistake-Analysis
                                        Related Study (MARS)</span> as our main focus. Because it has a relatively <b
                                        class="blu">low opportunity
                                        cost and little interference with the main system</b>, but it can have a <b
                                        class="blu">high positive
                                        impact</b> on the students’ learning experience and their user experience.
                                </p>
                                <figure class="image my-6">
                                    <img src="PineCones\focusDirectin.png" alt="Focusing Direction">
                                </figure>
                            </div>
                            <div class="small-section my-3">
                                <h5 class="title is-4 raleway my-6">
                                    <span class='blu'>&#9632</span> Understanding the MARS Learning Process
                                </h5>
                                <p class="content my-6">
                                    To understand the essential steps of the MARS learning process, we <b>conducted
                                        semi-structured interviews with 4 expert students and 6 learning experts
                                        (SMEs)</b>.
                                </p>
                                <p class="content my-6">
                                    Based on the interviews, we identified the four main steps of the MARS learning
                                    process:
                                </p>
                                <figure class="image my-6">
                                    <img src="PineCones\MARSFlow.png" alt="MARS learning flow">
                                </figure>
                                <p class="content prpl is-size-6" v-on:click="toggleMARSFlow" style="cursor: pointer;">
                                    <u>{{ flowButton }}</u>
                                </p>
                                <div class="my-6" v-if="flowButton == 'Show Less'">
                                    <b-carousel>
                                        <b-carousel-item v-for="(carousel, i) in MARSFlow" :key="i">
                                            <figure class="image">
                                                <img v-bind:src="carousel.link" v-bind:alt="carousel.text">
                                            </figure>
                                        </b-carousel-item>
                                    </b-carousel>
                                </div>
                                <p class="content my-6">
                                    We found that the current online MARS system does not support the full MARS learning
                                    process -
                                    <b class='blu'>the selection and annotation/analysis steps are missing.</b>
                                </p>
                            </div>
                            <div class="small-section my-3">
                                <h5 class="title is-4 raleway my-6">
                                    <span class='blu'>&#9632</span> Understanding User Needs and Challenges
                                </h5>
                                <p class="content my-6">
                                    To understand the needs and challenges of the primary users of the online learning
                                    platform, the students and teachers, we <b>interviewed 32 students and 7
                                        teachers</b>. We
                                    also <b>examined the feature usage metrics</b> in the MARS system.
                                </p>
                                <p class="content my-6">
                                    Based on synthesized insights from affinity diagrams, we built identity models and
                                    experience maps to illustrate the user needs and challenges, which point to the
                                    potential areas of improvement for the online MARS system.
                                </p>
                                <figure class="image my-6">
                                    <img src="PineCones/studentModel.png" alt="Student Model">
                                </figure>
                                <figure class="image my-6">
                                    <img src="PineCones/teacherModel.png" alt="Teacher Model">
                                </figure>
                                <p class="content prpl is-size-6" v-on:click="toggleTeacherFlow"
                                    style="cursor: pointer;">
                                    <u>{{ teacherFlowButton }}</u>
                                </p>
                                <div class="my-6" v-if="teacherFlowButton == 'Show Less'">
                                    <b-carousel>
                                        <b-carousel-item v-for="(carousel, i) in teacherFlow" :key="i">
                                            <figure class="image">
                                                <img v-bind:src="carousel.link" v-bind:alt="carousel.text">
                                            </figure>
                                        </b-carousel-item>
                                    </b-carousel>
                                </div>
                            </div>
                            <div class="small-section my-3">
                                <h5 class="title is-4 raleway my-6">
                                    <span class='blu'>&#9632</span> Synthesizing the Main Problems
                                </h5>
                                <p class="content">
                                    From feature usage metrics and user interviews with students and teachers, we can
                                    synthesize the results into the following main problems:
                                </p>
                                <p class="content is-size-6">* Hover over card to see evidence</p>
                                <div>
                                    <div class="columns">
                                        <div class="column is-3">
                                            <div class="box">
                                                <div class="flip-box">
                                                    <div class="flip-box-inner">
                                                        <div class="flip-box-front">
                                                            <p class="content has-text-weight-semibold">
                                                                The current system does not support the full MARS
                                                                learning flow
                                                            </p>
                                                        </div>
                                                        <div class="flip-box-back">
                                                            <p class="content is-size-6">
                                                                <b class='blu'>From SME Interviews:</b> <br />
                                                                The current system <span class="has-highlight">misses
                                                                    the critical steps of
                                                                    selection and annotation/analysis</span> in MARS
                                                                learning.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="column is-3">
                                            <div class="box">
                                                <div class="flip-box">
                                                    <div class="flip-box-inner">
                                                        <div class="flip-box-front">
                                                            <p class="content has-text-weight-semibold">
                                                                Students lack internal & external motivation for doing
                                                                MARS
                                                            </p>
                                                        </div>
                                                        <div class="flip-box-back">
                                                            <p class="content is-size-6">
                                                                <b class='blu'>From Student Interviews:</b> <br />
                                                                Using MARS <span class="has-highlight">as a formality of
                                                                    homework</span> can easily lead to
                                                                a lack of motivation for the students.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="column is-3">
                                            <div class="box">
                                                <div class="flip-box">
                                                    <div class="flip-box-inner">
                                                        <div class="flip-box-front">
                                                            <p class="content has-text-weight-semibold">
                                                                Students can’t see the value of MARS features due to
                                                                limited
                                                                metacognitive abilities
                                                            </p>
                                                        </div>
                                                        <div class="flip-box-back">
                                                            <p class="content is-size-6">
                                                                <b class='blu'>From Usage Metrics and Teacher
                                                                    Interviews:</b> <br />
                                                                Students <span class='has-highlight'>don’t know how to
                                                                    categorize and analyze</span> their mistakes without
                                                                scaffolds.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="column is-3">
                                            <div class="box">
                                                <div class="flip-box">
                                                    <div class="flip-box-inner">
                                                        <div class="flip-box-front">
                                                            <p class="content has-text-weight-semibold">
                                                                The current system cannot provide good online-offline
                                                                integration
                                                            </p>
                                                        </div>
                                                        <div class="flip-box-back">
                                                            <p class="content is-size-6">
                                                                <b class='blu'>From Student and Teacher Interviews:</b>
                                                                <br />
                                                                Students <span class="has-highlight">have difficulty
                                                                    accessing the system at school.</span>
                                                                Thus, they cannot take full advantage of the system.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="small-section my-6">
                            <h4 class="title is-4 raleway blu has-text-weight-bold my-6">
                                <u>Design Phase</u>
                            </h4>
                            <div class="small-section my-3">
                                <h5 class="title is-4 raleway my-6">
                                    <span class='blu'>&#9632</span> Ideation
                                </h5>
                                <p class="content my-6">Based on the main problems we've identified, we came up with the
                                    following "How Might We" statements to guide our ideation.</p>
                                <div class="content is-size-5 my-6">
                                    <p class='blu'>How Might We</p>
                                    <ul>
                                        <li>Implement the steps of selection and annotation in an online environment?
                                        </li>
                                        <li>Provide additional values other than homework practice in MARS?</li>
                                        <li>Scaffold students’ metacognitive processes of categorization and analysis?
                                        </li>
                                        <li>Enable students to take advantage of the system both online and offline?
                                        </li>
                                    </ul>
                                </div>
                                <p class="content my-6">
                                    Based on our HMW statements, we generated <b>over 40 initial ideas</b> through
                                    Brainstorming.
                                    We then <b>evaluated those ideas</b> in <span v-on:click="isMatrixActive = true"
                                        style="cursor: pointer;">a difficulty & importance matrix</span>, speed-dated
                                    them with 11
                                    users and clients to get feedback, and finalized our idea considering design,
                                    business,
                                    and implementation constraints.
                                </p>
                                <b-modal v-model="isMatrixActive">
                                    <figure class="image">
                                        <img src="PineCones\matrix.png" alt="Difficulty & Importance Matrix">
                                    </figure>
                                </b-modal>
                                <figure class="image my-6">
                                    <img src="PineCones\ideaSelection.png" alt="Narrow down ideas">
                                </figure>
                                <div class="content is-size-5 my-6">
                                    <p>Our final design direction is to create a new feature within the online learning
                                        platform to support the students in</p>
                                    <ul>
                                        <li>selecting their most important mistaken problems <b class='blu'>using
                                                difficulty and importance levels and custom labels</b></li>
                                        <li>analyzing their selected problems <b class='blu'>with highlights and
                                                annotations</b></li>
                                        <li>receiving feedback from teachers <b class='blu'>through text comments</b>
                                        </li>
                                        <li>reviewing and practicing problems <b class='blu'>online or in printed
                                                formats</b></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="small-section my-3">
                                <h5 class="title is-4 raleway my-6">
                                    <span class='blu'>&#9632</span> Prototyping
                                </h5>
                                <p class="content my-6">
                                    Using wireframes and low-fidelity prototypes, we tested our idea in <b>3 rounds of
                                        user
                                        testing with 16 users</b> to further flesh out the specific features for the
                                    Starred Problem Set and
                                    iterate on the learning experience and user experience.
                                </p>
                                <p class="content">
                                    Based on the testing of our prototype, <u
                                        v-on:click="isWasteFeatureActive = true">after throwing out many features</u>,
                                    the final design has the following user stories for the sub-features:
                                </p>
                                <figure class="image my-6">
                                    <img src="PineCones\subfeatureStories.png" alt="Sub-feature User Stories">
                                </figure>
                                <b-modal v-model="isWasteFeatureActive">
                                    <figure class="image">
                                        <img src="PineCones\wasteFeatures.png" alt="Discarded Stories">
                                    </figure>
                                </b-modal>
                            </div>
                            <div class="small-section my-3">
                                <h5 class="title is-4 raleway my-6">
                                    <span class='blu'>&#9632</span> Final Design
                                </h5>
                                <p class="my-6">Here is a prototype of our final design, feel free to try it out. (It's
                                    better to be viewed fullscreen)</p>
                                <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="1000" height="600"
                                    src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FnDuvXU97KaXkwIgUrTVwtl%2FPineCones-The-Starred-Problem-Set%3Fnode-id%3D1%253A3061%26viewport%3D643%252C481%252C0.024930216372013092%26scaling%3Dscale-down-width"
                                    allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="level">
            <div class="level-item" data-aos="slide-up">
                <a class="button is-outlined is-primary" href='index.html'>
                    Other Projects
                </a>
            </div>
        </div>
    </div>

    <!--AOS-->
    <script src="https://unpkg.com/aos@3.0.0-beta.6/dist/aos.js"></script>

    <!--Scroll to View-->
    <script>
        function scrollToView(viewId) {
            var elmnt = document.getElementById(viewId);
            elmnt.scrollIntoView({ block: "start", inline: "nearest", behavior: "smooth" });
        }
    </script>

    <script>
        var app = new Vue({
            el: "#app",
            created() {
                AOS.init();
            },
            data: {
                isBurgerActive: false,
                projectBackgroundButton: "See project background",
                isConceptVideoActive: false,
                preliminaryButton: "See Details",
                flowButton: "See Details",
                teacherFlowButton: "See Details",
                isMatrixActive: false,
                isWasteFeatureActive: false,
                preliminaryResearch: [
                    { link: 'PineCones/preliminaryStakeholderMap.png', text: 'Stakeholder Map' },
                    { link: 'PineCones/preliminaryCompetitive.png', text: 'Competitive Analysis' }
                ],
                MARSFlow: [
                    { link: 'PineCones/flowCollection.png', text: 'Collection Step' },
                    { link: 'PineCones/flowSelectionAnnotation.png', text: 'Selection and Annotation Steps' },
                    { link: 'PineCones/flowReview.png', text: 'Review Step' }
                ],
                teacherFlow: [
                    { link: 'PineCones/teacherFlow 1.png', text: 'Teacher Flow 1' },
                    { link: 'PineCones/teacherFlow 2.png', text: 'Teacher Flow 2' },
                    { link: 'PineCones/teacherFlow 3.png', text: 'Teacher Flow 3' }
                ],
            },
            methods: {
                toggleBurger: function () {
                    this.isBurgerActive = !this.isBurgerActive;
                },
                toggleProjectBackground: function () {
                    if (this.projectBackgroundButton == "See project background") {
                        this.projectBackgroundButton = "Show Less"
                    } else {
                        this.projectBackgroundButton = "See project background"
                    }
                },

                togglePreliminary: function () {
                    if (this.preliminaryButton == "See Details") {
                        this.preliminaryButton = "Show Less"
                    } else {
                        this.preliminaryButton = "See Details"
                    }
                },

                toggleMARSFlow: function () {
                    if (this.flowButton == "See Details") {
                        this.flowButton = "Show Less"
                    } else {
                        this.flowButton = "See Details"
                    }
                },
                toggleTeacherFlow: function () {
                    if (this.teacherFlowButton == "See Details") {
                        this.teacherFlowButton = "Show Less"
                    } else {
                        this.teacherFlowButton = "See Details"
                    }
                }
            }
        })
    </script>
</body>

<footer class="footer">
    <div class="content has-text-centered">
        <p class='raleway' style="font-size: 1rem;">Interested in working with me? <br />Contact me at: <a
                href="mailto:gzhao1997@gmail.com">gzhao1997@gmail.com</a></p>
        <p class="raleway" style="font-size: 1rem;">Made with <i class="fas fa-coffee"></i> and <i
                class="fas fa-heart"></i></p>
        <p class="raleway" style="font-size: 1rem;">&copy; 2020 Guodong Zhao</p>
    </div>
</footer>

</html>