/*
 * Main stylesheet entrypoint for Tailwind CSS and local assets.
 */
@import "./tailwind.css";
@import "@fontsource/raleway/300.css";
@import "@fontsource/raleway/400.css";
@import "@fontsource/raleway/500.css";
@import "@fontsource/raleway/600.css";
@import "@fontsource/raleway/700.css";
@import "@fontsource/poppins/300.css";
@import "@fontsource/poppins/400.css";
@import "@fontsource/poppins/500.css";
@import "@fontsource/poppins/600.css";
@import "@fontsource/poppins/700.css";
@import "@fortawesome/fontawesome-free/css/all.css";
@import "aos/dist/aos.css";
